In [1]:
import os
import re
import math
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.linear_model import (

    LinearRegression,
    ElasticNet,
    Lasso,
    Ridge

)

from sklearn.tree import (
    DecisionTreeClassifier,
    DecisionTreeRegressor
)
from sklearn.ensemble import(
    RandomForestClassifier,
    RandomForestRegressor
)

from sklearn .metrics import (
    accuracy_score,
    roc_auc_score,
    roc_curve,
    root_mean_squared_error,
    mean_absolute_error,
    mean_squared_error,
    f1_score,
    classification_report,
confusion_matrix,
r2_score

)
from  sklearn.preprocessing import (
    StandardScaler,
    MinMaxScaler,
    OneHotEncoder,
    LabelBinarizer,
    LabelEncoder
)
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.getcwd()

'e:\\ML_Elective\\Data_Science\\pandas\\Data_Analysis\\Used_Car_Performance_Estimation'

In [3]:
os.makedirs('ML_Models', exist_ok=True)

In [4]:
path = os.path.join('Data_Sets', 'Data_Sets.csv')

In [5]:
import os
import pandas as pd

file_path = os.path.join('Data_Sets', 'Data_Sets.csv')

if os.path.exists(file_path):
    df = pd.read_csv(' Data_Sets\Data_Sets.csv')
    print("File loaded successfully!")
else:
    print("File not found at:", file_path)

File not found at: Data_Sets\Data_Sets.csv

In [6]:
import os

file_path = r"E:\ML_Elective\Data_Science\pandas\Data_Analysis\Used_Car_Performance_Estimation\Data_Sets\Data_Sets.csv"

# Check if the path exists
print(os.path.exists(file_path))

False

In [7]:
import os
import pandas as pd

# Correct folder name
file_path = os.path.join('DataSet', 'Data_Sets.csv')

# Load the CSV
df = pd.read_csv(file_path)
print("File loaded successfully!")

File loaded successfully!

In [8]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [29]:
df['milage']=df['milage'].str.replace('mi.','').str.replace(',','').astype(float)
df['milage'].head()

0    51000.0
1    34742.0
2    22372.0
3    88900.0
4     9835.0
Name: milage, dtype: float64

In [9]:
# Clean the 'price' column
df['price']=df['price'].str.replace('$','').str.replace(',','').astype(float)
df['price'].dtype

dtype('float64')

In [10]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500.0
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0

In [11]:
df['Engine_capicity']=df['engine'].str.extract(r'(\d+\.\d+L|\d+L|\d+\.\d+\s*Liter|\d\s*L|\d\s*Liter)')

In [35]:
df.head()

      brand                            model  ...    price  Engine_capicity
0      Ford  Utility Police Interceptor Base  ...  10300.0             3.7L
1   Hyundai                     Palisade SEL  ...  38005.0             3.8L
2     Lexus                    RX 350 RX 350  ...  54598.0        3.5 Liter
3  INFINITI                 Q50 Hybrid Sport  ...  15500.0             3.5L
4      Audi        Q3 45 S line Premium Plus  ...  34999.0             2.0L

[5 rows x 13 columns]

In [12]:
df['Engine_capicity']=df['Engine_capicity'].str.replace('Liter','').str.replace('L','').astype(float)

In [13]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Engine_capicity
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,3.7
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,3.8
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,3.5
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500.0,3.5
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,2.0

In [16]:
df['engine'].head(20)

0     300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...
1                                  3.8L V6 24V GDI DOHC
2                                        3.5 Liter DOHC
3     354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...
4                            2.0L I4 16V GDI DOHC Turbo
5                                             2.4 Liter
6          292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel
7          282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel
8         311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel
9           534.0HP Electric Motor Electric Fuel System
10                                                   V6
11        715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel
12    382.0HP 3.0L Straight 6 Cylinder Engine Gasoli...
13        400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel
14                               2.0 Liter Supercharged
15         375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
16                           2.0L I4 16V GDI DOHC Turbo
17        305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel
18        287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel
19         550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
Name: engine, dtype: object

In [ ]:
df['Horse_Power'] = df['engine'].str.extract(r'(\d+(?:\.\d+)?)\s*HP', flags=re.IGNORECASE) # extracting Horse power

In [18]:
df['Horse_Power'] = df['Horse_Power'].astype(float)

In [21]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Engine_capicity,Horse_Power
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,3.7,300.0
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,3.8,NaN
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,3.5,NaN
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500.0,3.5,354.0
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,2.0,NaN

In [22]:
df.drop(columns=['engine'],axis=1,inplace=True)

df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,Engine_capicity,Horse_Power
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,3.7,300.0
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,3.8,NaN
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,Automatic,Blue,Black,None reported,NaN,54598.0,3.5,NaN
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,3.5,354.0
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,2.0,NaN

In [23]:
df.tail()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,Engine_capicity,Horse_Power
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,349950.0,6.0,NaN
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,53900.0,3.0,349.0
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Automatic,Black,Black,None reported,NaN,90998.0,NaN,NaN
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,A/T,Blue,Black,None reported,Yes,62999.0,3.5,450.0
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,40000.0,2.0,248.0

In [24]:
df['Accident_Status']=df['accident'].apply(lambda x:"No" if x=="None reported" else "Yes")

In [25]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,Engine_capicity,Horse_Power,Accident_Status
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,3.7,300.0,Yes
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,3.8,NaN,Yes
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,Automatic,Blue,Black,None reported,NaN,54598.0,3.5,NaN,No
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,3.5,354.0,No
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,2.0,NaN,No

In [26]:
df.drop('accident', axis=1, inplace=True)

In [27]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,clean_title,price,Engine_capicity,Horse_Power,Accident_Status
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,Black,Black,Yes,10300.0,3.7,300.0,Yes
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,Yes,38005.0,3.8,NaN,Yes
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,Automatic,Blue,Black,NaN,54598.0,3.5,NaN,No
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,7-Speed A/T,Black,Black,Yes,15500.0,3.5,354.0,No
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,8-Speed Automatic,Glacier White Metallic,Black,NaN,34999.0,2.0,NaN,No

In [28]:
df.isnull()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,clean_title,price,Engine_capicity,Horse_Power,Accident_Status
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,False,False,False,False,False,False,False,False,False,False,False,True,False
4005,False,False,False,False,False,False,False,False,False,False,False,False,False
4006,False,False,False,False,True,False,False,False,True,False,True,True,False
4007,False,False,False,False,False,False,False,False,False,False,False,False,False
4008,False,False,False,False,False,False,False,False,False,False,False,False,False

In [53]:
df.isnull().sum()

brand                0
model                0
model_year           0
milage               0
fuel_type          170
transmission         0
ext_col              0
int_col              0
clean_title        596
price                0
Engine_capicity    217
Horse_Power        808
Accident_Status      0
dtype: int64

In [29]:
missing_info={

}
for col in df.columns:
    if df[col].isnull().sum()>0:
        missing_count=(df[col].isnull().sum()/len(df))*100
        missing_info[col]=round(missing_count,2)
print('The missing value in percentage')
for col,perc in missing_info.items():
    print(f'{col}:{perc}%')

The missing value in percentage
fuel_type:4.24%
clean_title:14.87%
Engine_capicity:5.41%
Horse_Power:20.15%

In [30]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,clean_title,price,Engine_capicity,Horse_Power,Accident_Status
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,6-Speed A/T,Black,Black,Yes,10300.0,3.7,300.0,Yes
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,8-Speed Automatic,Moonlight Cloud,Gray,Yes,38005.0,3.8,NaN,Yes
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,Automatic,Blue,Black,NaN,54598.0,3.5,NaN,No
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,7-Speed A/T,Black,Black,Yes,15500.0,3.5,354.0,No
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,8-Speed Automatic,Glacier White Metallic,Black,NaN,34999.0,2.0,NaN,No